<div class="container">
  <h1>Resume</h1>
  <div class="page-wrapper col-md-9">
    <div class="header">
      <div class="col-md-12">
        <h1>Ben Zobrist</h1>
      </div>
      <div class="col-md-6">
        <p class="bold">773.554.8761<br/>1010 W. Addison Ave. Chicago, IL 60614</p>
      </div>
      <div class="col-md-6">
        <p class="bold text-right">B.Zobrist@gmail.com<br/>GoCubsGo.com</p>
      </div>
    </div>

    <div class="experience">
      <div class="col-md-3 col-sm-12">
        <h4 class="bold text-right">Company<br/>Title</h4>
      </div>
      <div class="col-md-9 col-sm-12"> 
      <h4> This is a description of all the responsibilities at Job 1</h4>
      <ul>
        <li>general points</li>
      </ul>
     </div>
    </div>
    <div class="experience">
      <div class="col-md-3 col-sm-12">
        <h4 class="bold text-right">Company<br/>Title</h4>
      </div>
      <div class="col-md-9 col-sm-12"> 
      <h4> This is a description of all the responsibilities at Job 1</h4>
      <ul>
        <li>general points</li>
      </ul>
     </div>
    </div>



  </div>
  <div class="col-md-3">
    <div class="twitter-wrapper"></div>
  </div>
</div>			


